@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

html {
	color: #800000;
}

body {
	background: #420600 url('img/backup-texture.png') repeat;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', sans-serif;
}

.row {
	color: white;
}

.Logo {
	margin: 25px auto;
}

.modal {
	background: black;
}

.modal-content{
	color: white;
	background: #000066 url('img/texture.png') repeat;
	border-radius: 10px;
	width: 300px;

	margin-left: auto;
	margin-right: auto;
}

.btn-primary{
	background: #420600 url('img/backup-texture.png') no-repeat;
}

.btn-primary:hover{
	color: black;
	background: #420600 url('img/backup-texture.png') no-repeat;
}

.btn-default{
	background: #fff url('img/texture.png') repeat;
}


h1 {
	font-weight: 900;
}

p {
	font-weight: 400;
	font-size: 16px;
}

#mce-EMAIL, #mce-FNAME, #mce-LNAME, #mc-embedded-subscribe{
	color: black;
}

label {
width: 10em;
}
