/*
	Define your custom CSS here. Whatever you do will 
	'override' what Bootstrap has, but will still have 
	the same functionality unless you **completely** override it.
*/


html {
	color: #800000; /* this is for font */
}

body {
	background: #420600 url('img/bg-texture.jpg') repeat; /* black background; also, you generally want to refrain from !important unless absolutely necessary (from what I hear) */
}

.row {
	color: white; /* this is for font */
}
.Logo {
	margin-top: 25px; /*added margin to the top */
	margin-bottom: 25px;
}

.modal {
	background: black;
}

.modal-content{
	color: white;
	background: #000066 url('img/texture.png') repeat;
	border-radius: 10px;
}

.btn-primary{
	background: #420600 url('img/bg-texture.jpg') no-repeat;
}
.btn-primary:hover{
	color: black;
	background: #420600 url('img/bg-texture.jpg') no-repeat;

